# dependencies
/node_modules
/.pnp
.pnp.js

# production
/dist
/assets

# keep index.html tracked (it's the source template used by Vite dev/build)
# misc
.DS_Store
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# vscode
.vscode/
